<div class="overlay">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
          <a class="navbar-brand" href="#"> </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto w-100 justify-content-end">
              <li class="nav-item ">
                <a class="nav-link active" routerLink="url"> <span class="sr-only">(current)</span>  Url Shortener </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" routerLink="thumbnail"> Thumbnail Generator </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      
      <div class="masthead">
        <div class="masthead-bg"></div>
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 my-auto">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
      
      <div class="social-icons">
        <ul class="list-unstyled text-center mb-0">
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-unstyled-item">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      